@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


:root{
    --text-font: "Montserrat", sans-serif;
    --borderRadius : 8px;
    /* --bg-dark : red; */
}

:root[data-theme="dark"] {
  --bg-dark: hsl(0 0% 0%);
  --bg: hsl(0 0% 10%);
  --bg-light: hsl(0 0% 15%);

  --text: hsl(0, 100%, 99%);
  --text-primary : hsl(0 0 95%);
  --text-secondary: hsl(0 0% 85%);
  --text-muted: hsl(0 0% 70%);
  --text-contrast: hsl(0, 0%, 10%);


  --border: hsl(0 0% 30%);
  --shadow: hsl(0 0% 0% / 0.4);

  --actionBrown: hsl(59, 90%, 60%);
  --greenSucces: hsl(134, 61%, 41%);
  --blueEdit: hsl(211, 80%, 45%);
  --redDelete: hsl(0, 80%, 45%);
}

:root[data-theme="light"] {
  --bg-dark: hsl(0 0% 85%);
  --bg: hsl(0 0% 90%);
  --bg-light: hsl(0 0% 100%);

  --text: hsl(0 0% 5%);
  --text-secondary: hsl(0 0% 25%);
  --text-muted: hsl(0 0% 45%);
  --text-light: hsl(0 0% 0%);
  --text-contrast: hsl(0 0 90%);

  --border: hsl(0 0% 45%);
  --shadow: hsl(0 0% 50% / 0.4);

  --actionBrown: hsl(30, 83%, 26%);
  --greenSucces: hsl(134, 61%, 41%);
  --blueEdit: hsl(211, 80%, 45%);
  --redDelete: hsl(0, 80%, 45%);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--text-font), sans-serif;
}

button{
    padding: .5rem 1rem;
    border : 1px solid var(--actionBrown);
    color: var(--LM-text);
    transition: all 0.3s ease-in-out;
    border-radius: var(--borderRadius);
    font-size: 1rem;
}

#dangerBtn{
    border: 1px solid var(--redDelete);
}

button:hover{
    background-color: var(--actionBrown);
    color: var(--text-contrast);
    cursor: pointer;
}

#dangerBtn:hover{
    background-color: var(--redDelete);
}

.logout-btn:hover{
    background-color: var(--redDelete);
}


input, select, textarea{
    padding: .3rem .5rem;
    border : 1px solid var(--border);
    border-radius: var(--borderRadius);
    background-color: var(--bg-light);
    color: var(--text-primary);
    font-size: 1rem;
    width: 100%;
    transition : all .3s ease-out
}

/* Effet focus */ input:focus, select:focus, textarea:focus { 
    border-color: var(--actionBrown); 
    outline: none; 
    box-shadow: 0 0 0 3px color-mix(in srgb, var(--actionBrown) 40%, transparent); 
}

p{
    color:var(--text-primary);
}



.txt-secondary{
    color: var(--text-secondary);
}

.main{
    min-height: 100vh;
    display: flex;
    background-color: var(--bg-dark);
    /* margin-bottom: 10vh; */
}

/* 1. Centrage du contenu sous la navbar */
.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-left: 1px solid var(--border);
    padding-bottom: 5vh;
}

  .topContainer{
        display: grid;
        grid-template-rows: 20% 80%;
        gap: 1rem;
        width: 100%;
        height: 5vh;
        margin-bottom: 5vh;
    }
    .infoView{
        padding: 2rem 1rem;
        color: var(--text-secondary);
    }

    .strong{
        font-weight: bold;
        font-size: .8rem;
    }


.floatBtn{
  width: clamp(300px, 70vw, 1000px);
    margin: 0 auto;
}

.floatBtn button {
    display: inline-flex; /* important */
    align-items: center;
    gap: .5rem; /* espace entre icône et texte */
    padding: .6rem 1rem; /* le bouton respire */
    white-space: nowrap; /* empêche le texte de sauter à la ligne */
    color: var(--text);
    background-color: var(--bg);
    border-radius: var(--borderRadius);
    border: 1px solid var(--border);
    cursor: pointer;
    font-weight: 500;
    transition: all .2s ease-out;
}

.floatBtn button:hover{
    transform: scale(1.025);
    background-color: var(--bg-light);
    box-shadow: var(--box-shadow);
}

.floatBtn button i {
    font-size: .9rem;
}



.user-table {
    border-collapse: collapse;
    width: clamp(300px, 70vw, 1000px);
    margin: 0 auto;
    background-color: var(--bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--borderRadius);
    overflow: hidden; /* Pour que les arrondis s'appliquent aux cellules */
}

.user-table thead tr {
    background-color: var(--actionBrown);
    text-align: left;
    border: 1px solid var(--border);
}

.user-table th,
.user-table td {
    padding: clamp(8px, 1.5vw, 20px) clamp(10px, 2vw, 25px);
    border-bottom: 1px solid var(--border);
    color: var(--text-contrast);
}
.user-table td {
    color: var(--text-secondary);
}
tbody{
    border: 1px solid var(--border);
}

.user-table tbody tr:nth-child(even) {
    background-color: var(--bg-dark);
    transition : all 0.3s ease-in;
}

.user-table tbody tr:hover{
    background-color: var(--bg-light);
    cursor: pointer;
}
/* Optionnel : Le badge pour le rôle */
.badge {
    padding: 5px 10px;
    border-radius: var(--borderRadius);
    background-color: #e1f5fe;
    color: #039be5;
    font-size: 0.85em;
    font-weight: bold;
}

.ticketInfo{
    border: 1px solid var(--border);
    border-radius: var(--borderRadius);
    background-color: var(--bg);
    box-shadow: var(--box-shadow);
    width: clamp(300px, 70vw, 1000px);
    height: auto;
    margin: 10vh auto;
}

.topTicket{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding: 1rem 1rem;
}

.leftTopTicket{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.midTicket{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

.topColonne{
    font-size: 1.1rem;
    font-weight: 500;
}

.txt-secondary{
    color: var(--text-secondary);
}

.midTicket div{
margin-bottom: 1rem;
}

.bottomTicket{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
}


.flash-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--LM-text-light);
    padding: 14px 22px;
    border-radius: var(--borderRadius);
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    animation: flashFade 4s ease forwards;
    box-shadow: var(--box-shadow);
}


.flash-message.edit{
    background-color: var(--blueEdit);
}

.flash-message.delete{
    background-color: var(--redDelete);
}

.flash-message.success{
    background-color: var(--greenSucces);
}



@keyframes flashFade {
    0% { opacity: 0; transform: translateX(-50%) translateY(10px); }
    10% { opacity: 1; transform: translateX(-50%) translateY(0); }
    90% { opacity: 1; transform: translateX(-50%) translateY(0); }
    100% { opacity: 0; transform: translateX(-50%) translateY(10px); }
}
