@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


:root {
  --text-font: "Montserrat", sans-serif;
  --bg-dark: hsl(0 0% 0%);
  --bg: hsl(0 0% 5%);
  --bg-light: hsl(0 0% 10%);

  --actionYellow: hsl(59, 90%, 60%);
  --actionPink: hsl(323, 90%, 60%);

  --text: hsl(0 0% 95%);
  --text-secondary: hsl(0 0% 85%);
  --text-muted: hsl(0 0% 70%);

  --borderRadius : 8px;

  /* //colors light mode */
  --LM-bg-dark: hsl(0 0% 85%);
  --LM-bg: hsl(0 0% 90%);
  --LM-bg-light: hsl(0, 0%, 100%);

  --actionBrown: hsl(30, 83%, 26%);

    --LM-text: hsl(0 0% 5%);
    --LM-text-secondary: hsl(0 0% 15%);
    --LM-text-light: hsl(0, 0%, 100%);
    --LM-border:hsl(0 0% 45%);

    --LM-shadow: hsl(0 0% 10%);
    --LM-box-shadow : 0 2px 4px var(--LM-shadow);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--text-font), sans-serif;
}


.main{
    display: flex;
    background-color: var(--LM-bg-dark);
    margin-bottom: 10vh;
}

/* 1. Centrage du contenu sous la navbar */
.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}


.user-table {
    border-collapse: collapse;
width: clamp(300px, 70vw, 1000px);
margin: 0 auto;
    background-color: var(--LM-bg);
    box-shadow: var(--LM-box-shadow);
    border-radius: var(--borderRadius);
    overflow: hidden; /* Pour que les arrondis s'appliquent aux cellules */
}

.user-table thead tr {
    background-color: var(--actionBrown);
    color: var(--LM-text-light);
    text-align: left;
}

.user-table th,
.user-table td {
    padding: clamp(8px, 1.5vw, 20px) clamp(10px, 2vw, 25px);
    border-bottom: 1px solid var(--LM-border);
}


.user-table tbody tr:nth-child(even) {
    background-color: var(--LM-bg-dark);
    transition : all 0.3s ease-in;
}

.user-table tbody tr:hover{
    background-color: var(--LM-bg-light);
    cursor: pointer;
}
/* Optionnel : Le badge pour le rôle */
.badge {
    padding: 5px 10px;
    border-radius: var(--borderRadius);
    background-color: #e1f5fe;
    color: #039be5;
    font-size: 0.85em;
    font-weight: bold;
}